apiVersion: apps/v1
kind: Deployment
metadata:
  name: ats-matcher
  labels:
    app: ats-matcher
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ats-matcher
  template:
    metadata:
      labels:
        app: ats-matcher
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      containers:
        - name: ats-matcher
          image: deysandip301/ats-matcher:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
              name: api
            - containerPort: 8501
              name: ui
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 10
          securityContext:
            allowPrivilegeEscalation: false
