name: CI - Quality, Security & Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  PYTHON_VERSION: '3.11'
  IMAGE_NAME: ats-matcher


jobs:
  lint:
    name: Lint (flake8)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: pip
      - run: pip install flake8
      - run: flake8 src/ tests/ --max-line-length=100 --ignore=E501,W503

  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: pip
      - run: pip install -r requirements.txt
      - run: pytest -v --cov=src --cov-report=term-missing

  sast:
    name: SAST (CodeQL)
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v4
      - uses: github/codeql-action/init@v4
        with:
          languages: python
          build-mode: none
      - uses: github/codeql-action/analyze@v4

  sca:
    name: SCA (Trivy FS)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: 'fs'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
          format: 'table'
      - name: Generate Trivy HTML Report
        run: >-
          trivy fs --format template --template "@contrib/html.tpl" -o trivy-report.html .
      - name: Upload SCA Report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-sca-report
          path: trivy-report.html


  build-and-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
      - sast
      - sca
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}
          SHA_TAG=sha-${GITHUB_SHA::7}
          docker build -t $IMAGE:latest -t $IMAGE:$SHA_TAG .
      - uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true
      - run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest
